* {
  font-family: "Open Sans", sans-serif;
}
/* Navbar Open */
ul > li > a {
  color: #241223 !important;
}
ul > li > a:hover {
  background-color: #5c355b;
  border-radius: 5px;
  color: white !important;
}
.logout-btn:hover {
  background-color: #844f82 !important;
  color: white;
}
/* Navbar Close */
.product-image {
  height: 265px;
}
.card-footer > div > button {
  border-color: #241223;
  background-color: #5c355b !important;
  color: white;
}
.card-footer > div > button:hover {
  background-color: #844f82 !important;
  color: white;
}
/* Cart Styling */
.cart-image {
  height: 100px;
  width: 100px;
}
